.card {
  height: 480px;
  display: flex;
  flex-direction: column;
}

.image {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin: 25px auto 20px;
}

.content {
  flex: 1;
  text-align: center;
}

.missionName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rocketName {
  margin-top: 20px;
}

.button {
  margin-top: auto;
}